src/flows/Record_Triggered_Flow_Lead_Post_Chatter.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_To_Converted_Lead</name>
        <label>Email To Converted Lead</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textT_EmailBodyToClosed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!$Record.Company} 님에게 </stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_Lead_Status</name>
        <label>Post To Chatter  : &lt;Lead&gt; Status</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>textT_ChatterPost_LeadStatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>Entire Group</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>ConvertedOrNotConverted</name>
        <label>ConvertedOrNotConverted</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>NotConverted</defaultConnectorLabel>
        <rules>
            <name>Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Converted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_To_Converted_Lead</targetReference>
            </connector>
            <label>Converted</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpenOrClosed</name>
        <label>OpenOrClosed</label>
        <locationX>281</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>WorkingOrClosed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open - Not Contacted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_To_Chatter_Lead_Status</targetReference>
            </connector>
            <label>Opend</label>
        </rules>
    </decisions>
    <decisions>
        <name>WorkingOrClosed</name>
        <label>WorkingOrClosed</label>
        <locationX>512</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>ConvertedOrNotConverted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Closed</defaultConnectorLabel>
        <rules>
            <name>Working</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working - Contacted</stringValue>
                </rightValue>
            </conditions>
            <label>Working</label>
        </rules>
    </decisions>
    <description>잠재고객 상태 변화에 따른 Chatter 등록</description>
    <interviewLabel>Record Triggered Flow : &lt;Lead&gt; &lt;Post Chatter&gt; {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered Flow : &lt;Lead&gt; &lt;Post Chatter&gt;</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OpenOrClosed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>textT_ChatterPost_LeadStatus</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.LastName} 님의 상태가 {!$Record.Status} 로 업데이트 되었습니다. &lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>계약이 체결시 고객에게 보내는 이메일</description>
        <name>textT_EmailBodyToClosed</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.LastName}  님, &lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;계약체결 및 메뉴얼 메일 &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>새로운 리드에게 보내는 이메일</description>
        <name>textT_EmailBodyToOpen</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Dear {!$Record.LastName} &lt;/span&gt; 님 ,&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!$Record.Company} 소속 &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;환영합니다&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;리드 생성.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;반갑습니다. &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;감사합니다.&lt;/p&gt;</text>
    </textTemplates>
</Flow>
